In [23]:
#importing the trequire libaries
import selenium
import pandas as pd
from selenium import webdriver

In [24]:
# connect to chrome driver
driver=webdriver.Chrome("chromedriver.exe")
driver

In [25]:
#opening the the page from nauki.com
driver.get("https://www.naukri.com/")
user_input=input("Enter the text") #ask user to enter the object the job titel,desiganation,skills.etc he or she want to search

Enter the textData Analyst

In [26]:
searchbar=driver.find_element_by_id('qsb-keyword-sugg')#webelement for the search bar by ID function 
searchbar.clear()
searchbar.send_keys(user_input)

In [27]:
location_input=input("Enter the loaction ")#ask user to enter the job loaction where he or she want to search job.
loacation_searchbar=driver.find_element_by_id("qsb-location-sugg")#webelement for Location bar by ID function
loacation_searchbar.clear()
loacation_searchbar.send_keys(location_input)

Enter the loaction Bangalore

In [28]:
#web element for thr search button by xpath function
driver.find_element_by_xpath("//div[@class='search-btn']").click()

In [29]:
Job_title=[]
Job_location=[]
company_name=[]
experience_required=[]

In [30]:
for i in range(1,2):
    for t in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"): #webelement for the Job Title by xpath function
        Job_title.append(t.text.replace('\n',''))
        
    for j in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span"):  #webelement for the Job Location by xpath function
            Job_location.append (j.text.replace('\n',''))
            
    for c in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"): #webelement for the Company name by xpath function
          company_name.append(c.text.replace('\n',''))
    for e in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span"): #webelement for the experience required by xpath function
        experience_required.append(e.text.replace('\n',''))
    driver.find_element_by_xpath("//a[@class='fright fs14 btn-secondary br2']").click()

In [31]:
Job_title

['Data Scientist / Data Analyst -Business Analyst',
 'Data Analyst - Informatica MDM',
 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)',
 'Data Analyst',
 'Hiring For Data Analyst/ MIS Reporting Analyst - Bangalore',
 'Consultant-Data Analyst -Bangalore',
 'Data analyst - Google Analytics',
 'SW Technologist I- Data Analyst',
 'Data Analyst',
 'Hiring For Data Analyst @ Flipkart on Contract',
 'Data Analyst - Informatica MDM',
 'Senior Data Analyst',
 'Cybersecurity Data Analyst',
 'Data Analyst / Business Analyst -',
 'Business Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [32]:
Job_location

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Kolkata, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR']

In [33]:
company_name

['Inflexion Analytix Private Limited',
 'Shell India Markets Private Limited',
 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.',
 'SA Tech Software (I) Pvt. Ltd.',
 'PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd',
 'Innovsource Services Private Limited',
 'H and M Hennes and Mauritz (P) Ltd.',
 'Philips India Limited',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited',
 'Shell India Markets Private Limited',
 'Flipkart Internet Private Limited',
 'Huawei Technologies India Pvt Ltd',
 'LatentView Analytics Private Limited',
 'ALSTOM India Limited',
 'Udaan',
 'Luxoft',
 'Yodlee Infotech Private Limited',
 'Novel Office',
 'Bytech India Private Limited']

In [34]:
experience_required

['0-3 Yrs',
 '6-9 Yrs',
 '12-18 Yrs',
 '1-3 Yrs',
 '2-4 Yrs',
 '2-7 Yrs',
 '4-7 Yrs',
 '5-10 Yrs',
 '1-3 Yrs',
 '2-6 Yrs',
 '6-9 Yrs',
 '2-5 Yrs',
 '5-8 Yrs',
 '1-5 Yrs',
 '5-10 Yrs',
 '1-6 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '0-3 Yrs',
 '3-4 Yrs']

In [35]:
#checking the length of each columns
print(len(Job_title),len(Job_location),len(company_name),len(experience_required))

20 20 20 20

In [36]:
df=pd.DataFrame({})
df['Job_title']=Job_title
df['Job_location']=Job_location
df['company_name']=company_name
df['experience_required']=experience_required
df

,Job_title,Job_location,company_name,experience_required
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Data Analyst - Informatica MDM,Bangalore/Bengaluru,Shell India Markets Private Limited,6-9 Yrs
2,Assistant Vice President - MIS & Reporting ( B...,"Mumbai, Bangalore/Bengaluru",INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs
3,Data Analyst,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D...",SA Tech Software (I) Pvt. Ltd.,1-3 Yrs
4,Hiring For Data Analyst/ MIS Reporting Analyst...,Bangalore/Bengaluru,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,2-4 Yrs
5,Consultant-Data Analyst -Bangalore,Bangalore/Bengaluru,Innovsource Services Private Limited,2-7 Yrs
6,Data analyst - Google Analytics,Bangalore/Bengaluru,H and M Hennes and Mauritz (P) Ltd.,4-7 Yrs
7,SW Technologist I- Data Analyst,Bangalore/Bengaluru,Philips India Limited,5-10 Yrs
8,Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,1-3 Yrs
9,Hiring For Data Analyst @ Flipkart on Contract,Bangalore/Bengaluru,Flipkart Internet Private Limited,2-6 Yrs
10,Data Analyst - Informatica MDM,Bangalore/Bengaluru,Shell India Markets Private Limited,6-9 Yrs
11,Senior Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,2-5 Yrs
12,Cybersecurity Data Analyst,Bangalore/Bengaluru,Huawei Technologies India Pvt Ltd,5-8 Yrs
13,Data Analyst / Business Analyst -,"Chennai, Bangalore/Bengaluru",LatentView Analytics Private Limited,1-5 Yrs
14,Business Data Analyst,Bangalore/Bengaluru,ALSTOM India Limited,5-10 Yrs
15,Data Analyst,Bangalore/Bengaluru,Udaan,1-6 Yrs
16,Data Analyst,Bangalore/Bengaluru,Luxoft,2-6 Yrs
17,Data Analyst,Bangalore/Bengaluru,Yodlee Infotech Private Limited,2-6 Yrs
18,Data Analyst,Bangalore/Bengaluru,Novel Office,0-3 Yrs
19,Data Analyst,"Bangalore/Bengaluru, Delhi / NCR",Bytech India Private Limited,3-4 Yrs

# top 10 Job Data

In [37]:
df.iloc[0:10]

,Job_title,Job_location,company_name,experience_required
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Data Analyst - Informatica MDM,Bangalore/Bengaluru,Shell India Markets Private Limited,6-9 Yrs
2,Assistant Vice President - MIS & Reporting ( B...,"Mumbai, Bangalore/Bengaluru",INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs
3,Data Analyst,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D...",SA Tech Software (I) Pvt. Ltd.,1-3 Yrs
4,Hiring For Data Analyst/ MIS Reporting Analyst...,Bangalore/Bengaluru,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,2-4 Yrs
5,Consultant-Data Analyst -Bangalore,Bangalore/Bengaluru,Innovsource Services Private Limited,2-7 Yrs
6,Data analyst - Google Analytics,Bangalore/Bengaluru,H and M Hennes and Mauritz (P) Ltd.,4-7 Yrs
7,SW Technologist I- Data Analyst,Bangalore/Bengaluru,Philips India Limited,5-10 Yrs
8,Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,1-3 Yrs
9,Hiring For Data Analyst @ Flipkart on Contract,Bangalore/Bengaluru,Flipkart Internet Private Limited,2-6 Yrs